body {
    background-color: rgb(211, 253, 255);
}

h1 {
    color: green;
    font-size: medium;
    text-align: center;
}

.surrounded {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1000px;
    border: 1px solid lightgray;
    border-radius: 0.7em;
    background: white;
    line-height: 1.8em;
}

footer {
    font-size: 12px;
    text-align: center;
}

hr {
    height: 2px;
    background-color: #22a9f7;
    border: none;
    color: #22a9f7;
}

.required::after {
    content: "必須";
    background-color: #ff592b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}
textarea{
    width:550px;
    height:120px;
}
input[type="number"]{
    width:70px;
    height:20px;
    text-align: center;
    
}
input[type="text"],input[type="email"],select{
    width:550px;
    height:20px;
    border-radius:5px;
    border:1px solid grey;
   
}
.section{
    margin-bottom: 20px;
}
button{
    height:40px;
    width: 70px;
    box-shadow:1px 1px lightgrey;
    border-radius:5px;
    border: 1px solid grey;6
}
input,textarea,select{
    border-radius:5px;
    border:1px solid grey;
}
input[type="text"],input[type="email"],input[type="number"],select,textarea{
    box-shadow: 1px 1px lightgrey;
}