/* body{
    text-align: center;
} */
nav {
    list-style: none;
    display: flex;
  }
   
  nav li {
    width: 140px;
    padding: 10px;
    text-align: center;
    background-color: rgb(237, 237, 237);
    display: inline-block;
  }
   
  nav li a {
    text-decoration: none;
    color: lightskyblue;
  }
  nav li a:hover{
      color:black;
  }